CompileFlags:
  Add: [-Wno-c++11-compat-deprecated-writable-strings, -Wno-extern-initializer, -Wno-multichar, "-fdeclspec"]
Diagnostics:
  Suppress:
    - "warn_char_constant_too_large"
    - "illegal_union_or_anon_struct_member"
---
If:
  PathMatch: .*/*.inc
Diagnostics:
  Suppress:
    - "undeclared_var_use"
    - "undeclared_var_use_suggest"
    - "bound_member_function"
    - "typecheck_subscript_value"
    - "unknown_typename"
---
If:
  PathMatch: .*\.pch
CompileFlags:
  Add: ["--language=c++", "--std=c++98"]
