# Compiler binaries
mwcc_compiler/

# Build artifacts
build/
*.o
*.elf
*.map
*.dol
vtable.lcf

# Game Assets
game/

# Generated documentation
docs/doxygen/

# Temporary files
*.swp
*.dump

# IDE
.vscode/

# Python
__pycache__/