# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.py   text

# Enforce platform-specific encodings
*.bat  text eol=crlf
*.sh   text eol=lf
*.sha1 text eol=lf

# decomp-toolkit writes files with LF
config/**/*.txt  text eol=lf
